html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  padding: 0.2rem;
  padding-left: 1rem;
}

h4 {
  margin: 0.2rem 0;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

p {
  margin: 0.2rem 0;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

#eviction-map {
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 100%;
}

.map-container {
  width: 100%;
}

.search-container {
  position: absolute;
  bottom: 515px;
  left: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  width: 200px;
  height: 85px;
  z-index: 999;
}

#search-input {
  padding: 8px;
  width: 120px;
  border-radius: 4px 0 0 4px;
  height: 10px;
  border: 1px solid #ccc;
  flex-grow: 1;
}

#search-button {
  padding: 8px;
  background-color: #2e2345;
  width: 54px;
  color: white;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ccc;
  font-size: 3px;
  cursor: pointer;
}

.checkbox-container{
  border: 2px solid black;
  z-index: 999;
  position: absolute;
  bottom: 50px;
  left: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;

}

.infomation-container{
  border: 2px solid black;
  z-index: 999;
  position: absolute;
  top: 175px;
  left: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  height: 90px;
}

#property-select {
  border: 2px solid black;
  z-index: 999;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
}

.instruction-container{
  border: 2px solid black;
  z-index: 999;
  position: absolute;
  top: 300px;
  right: 10px;
  bottom: 50px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  overflow: auto;
}

.zoom-filter{
  border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom:355px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
}


.month-filter{
  border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom:185px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
}

.year-filter{
  border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom: 270px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
}

.eviction-slider{
  border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom: 440px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}


