html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  height: 10%;
  background-color: #454968;
}

h1 {
  padding: 0.2rem;
  padding-left: 1rem;
  height: 10%;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  margin: 0.2rem 0;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

p {
  margin: 0.2rem 0;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

#eviction-map {
  height: 100%;
}

.content-container {
  float: left;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.filter-container{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-container {
  width: 80%;
}

.search-container {
  height: auto;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7); 
  /* position: absolute;
  bottom: 515px;
  left: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  width: 200px;
  height: 85px;
  z-index: 999; */
}

#search-input {
  margin: 5px;
  height: 20px;
  border: 1.5px solid black;
  border-radius: 4px;
  width: 60%;
  margin-right: 0;
  /* padding: 8px;
  width: 118px;
  border-radius: 4px 0 0 4px;
  height: 10px;
  border: 1px solid #ccc;
  flex-grow: 1; */
}

#search-button {
  margin: 5px;
  /* padding: 8px;
  background-color: #2e2345;
  width: 58px;
  color: white;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ccc;
  cursor: pointer; */
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.checkbox-container{
  padding-bottom: 5px;
  height: auto;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7); 
  /* border: 2px solid black;
  z-index: 999;
  position: absolute;
  bottom: 50px;
  left: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px; */

}

.infomation-container{
  height: 400px;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7); 
}
  /* border: 2px solid black;
  z-index: 999;
  position: absolute;
  top: 175px;
  left: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  height: 90px; */

#property-select {
  border: 2px solid black;
  z-index: 999;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 90%;
  padding: 5px;
  margin: 5px;
}

.instruction-container{
  height: 20%;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.7); 
  /* border: 2px solid black;
  z-index: 999;
  position: absolute;
  top: 300px;
  right: 10px;
  bottom: 50px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  overflow: auto; */
}

.zoom-filter{
  height: auto;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.7); 
  /* border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom:355px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px; */
}


.month-filter{
  height: auto;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  /* border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom:185px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px; */
}

.year-filter{
  height: auto;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  /* border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom: 270px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px; */
}

.eviction-slider{
  height: auto;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.7); 
  /* border: 2px solid black;
  z-index: 998;
  position: absolute;
  left: 10px;
  bottom: 440px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px; */
}

.topright img{
  position: fixed;
  top: 0;
  right: 0;
  margin: 2px;
  z-index: 999;
  height: 9%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

#map { 
  width: 800px; height: 500px;
}

.info {
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif; 
  background: white; 
  background: rgba(255,255,255,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px; 
} 

.info h4 { 
  margin: 0 0 5px; color: #777; 
}

.legend { 
  text-align: left; 
  line-height: 18px; 
  color: #555; 
} 

.legend i { 
  width: 18px; 
  height: 18px; 
  float: left; 
  margin-right: 8px; 
  opacity: 0.7; 
}
